{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['apt-cacher'],
        'services': ['apt-cacher'],
        'notification': False,
        'identity': {
            'engine': 'noauth',
            'region': 'RegionOne',
        },
    },
    'RedHat': {
        'pkgs': ['apt-cacher'],
        'services': ['apt-cacher'],
        'notification': False,
        'identity': {
            'engine': 'noauth',
            'region': 'RegionOne',
        },
    },
    }, merge=pillar.ironic.get('server', {})) %}
