Source: salt-formula-aptcacher
Maintainer: Salt Formulas Community <salt-formulas@lists.launchpad.net>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://www.mirantis.com
Vcs-Browser: https://github.com/salt-formula/salt-formula-aptcacher
Vcs-Git: https://github.com/salt-formula/salt-formula-aptcacher.git

Package: salt-formula-aptcacher
Architecture: all
Depends: ${misc:Depends}
Description: aptcacher salt formula
 Install and configure apt-cacher-ng system.
